
@{
    ViewData["Title"] = "Movie Added!";
}
@model mission4.Models.AddResponse
<div class="text-center">
    <h1>The movie @Model.Title has been added!</h1>
    <p>Thank you for contributing.</p>
</div>